<div class="main-container">
  <div class="three-row-body">

    <app-main-nav></app-main-nav>


    <div class="men-page">
      <div class="men-nav">
        <ul>
          <li><a href="#">Shirts</a></li>
          <li><a href="#">Pants</a></li>
          <li><a href="#">Jackets</a></li>
          <li><a href="#">Shorts</a></li>
          <li><a href="#">Shoes</a></li>
          <li><a href="#">Backpack and Bags</a></li>
          <li><a href="#">Accesories</a></li>
        </ul>
      </div>

      <div>
        <img src="../../assets/men-banner.jpg">

        <div class="men-card">
          <div>
            <img class="img-fit" src="../../assets/men-card1.webp">
            <h1>The Air Crew Tee</h1>
            <a href="#">$30.00</a>
          </div>
          <div>
            <img class="img-fit" src="../../assets/men-card1.webp">
            <h1>The Air Crew Tee</h1>
            <a href="#">$30.00</a>
          </div>
          <div>
            <img class="img-fit" src="../../assets/men-card1.webp">
            <h1>The Air Crew Tee</h1>
            <a href="#">$30.00</a>
          </div>
          <div>
            <img class="img-fit" src="../../assets/men-card1.webp">
            <h1>The Air Crew Tee</h1>
            <a href="#">$30.00</a>
          </div>
        </div>

      </div>
    </div>
    <!-- <div class="content-container">
      <section>
        <nav>
          <ul>
            <li><a href="#">Shirts</a></li>
            <li><a href="#">Pants</a></li>
            <li><a href="#">Jackets</a></li>
            <li><a href="#">Shorts</a></li>
            <li><a href="#">Shoes</a></li>
            <li><a href="#">Backpack and Bags</a></li>
            <li><a href="#">Accesories</a></li>
          </ul>
        </nav>

        <article>

          <img src="../../assets/men-banner.jpg">

          <div class="men-card">
            <div>hello</div>

          </div>
          <div class="men-card">
            <div>hello</div>

          </div>
        
        </article>
      </section>

      Animated grid from lab
      <section class="animated-grid">
        <div class="card" *ngFor="let clothing of clothings; let i = index">
          <img class="cover" [src]="clothing.clothing_url" alt="bike">
          <div class="card">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Tshirt</p>
          </div>
          <div class="card-body">
            <a href="#" class="card-link">Card link</a>
          </div>
        </div>
        <div class="card" *ngFor="let car of cars; let i = index">
          <img class="cover" [src]="car.image_url" alt="bike">
          <h5 class="card-title">Card title</h5>
        </div>
      </section>
    </div> -->

    <app-main-footer></app-main-footer>

  </div>
</div>
<router-outlet></router-outlet>