<div class="three-row-body">
  <div>
    <app-main-nav></app-main-nav>
  </div>
  <div id="about-container">
    <div id="about-container-inner">
      <div class="about-content">
        <div class="banner">
          <h2 class="drop-shadow">About Us</h2>
          <p class="drop-shadow">This store was founded by Joseph Huizar, Franklin Delos Santos, and Joshuah Gee
            Guerrero</p>
          <p class="drop-shadow">This store was designed to make a difference in the clothing industry.</p>
        </div>
      </div>
      <div class="top-section box-shadow">
        <div class="top-inner-section">
          <div class="bio-description">
            <h2>What is OnlyPhans?</h2>
            <p>OnlyPhans is your one stop shop for all your Phanboy desires! This PREMIUM site is highly popular amongst
              the younger generation and gamers! With a little of something for everyone, we hope our Phans keep cumming
              back over and over!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <app-main-footer></app-main-footer>
  </div>
</div>
<router-outlet></router-outlet>