<div class="three-row-body">
  <div>
    <app-main-nav></app-main-nav>
  </div>
  <div id="about-container">
    <div id="about-container-inner">
      <div class="top-section box-shadow">
        <div class="shopping-cart text-align">
          <h3>Shopping Cart</h3>

        </div>
        <div class="summary-container">
          <h3>Summary</h3>
          <div class="inner-summary">
            <div class="left-align">
              <p>Subtotal</p>
              <p>Taxes</p>
              <p>Shipping</p>
              <br>
              <hr>
              <p>Total</p>
            </div>
            <div class="right-align">
              <p>$85.90</p>
              <p>$8.59</p>
              <p>$5.00</p>
              <br>
              <hr>
              <p>$99.49</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div>
    <app-main-footer></app-main-footer>
  </div>
</div>
<router-outlet></router-outlet>