@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

/* .nav-action-container {
  margin: 20px auto;
  width: 90%;
}
.main-nav {
  padding: 10px 5%;
  width: 100%;
  background-color: transparent !important;
}
.contact-button{
  margin-right: 9px;
  float:right;
}
.contact-grid {
  display:grid;
  margin: 20px auto;
  width: 90%;
  height: 80vh;
  max-height: 80vh;
  overflow: auto;
}
.edit-mode {
  background-color: #ffe503 !important;
}

.brand {
  height: 65px;
} */
.pointer-cursor {
  cursor: pointer;
}

.navbar {
  min-height: 80px;
}

.navbar-brand {
  padding: 0 15px;
  height: 80px;
  line-height: 80px;
  color:#000;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px;

}



@media (min-width: 768px) {
  .navbar-nav > li > a {
    /* (80px - line-height of 27px) / 2 = 26.5px */
    padding-top: 26.5px;
    padding-bottom: 26.5px;
    line-height: 27px;
  }
}

body {
    background: rgb(19, 19, 19);
    color: #fff;
    font-family: 'Noto Sans', sans-serif;
}


ul#navigation .active {
  font-weight: bold;
}