<app-main-nav></app-main-nav>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary main-nav">
  
</nav>

<ul class="nav justify-content-end nav-action-container">
  
  <li class="nav-item">
    <button mat-raised-button color="primary" (click)="createClothing()">Add New Clothing</button>
  </li>
  
  <li class="nav-item">
    <button mat-raised-button color="primary" (click)="getClothes()">Get Clothings</button>
    </li>
  <!-- <li class="nav-item">
    <button mat-raised-button color="primary" (click)="getClothingByColor()">Pink</button>
  </li> -->
  <li class="nav-item">
    <button mat-raised-button color="primary" (click)="getPink('Pink')">Get Pink Only</button>
    </li>
</ul>

<div class="contact-grid">
  <div class="gallery-grid">
    <mat-card class="example-card" *ngFor="let car of cars; let i = index">
      <mat-card-content>
        <img class="cover" [src]="car.image_url" alt="bike">
        <p>
          <label for="id">Image Url:</label>
          <input [(ngModel)]="car.image_url" type="text" class="form-control" placeholder="Image" aria-label="Image">
        </p>
        <p>
          <label for="id">ID:</label>
          <input [(ngModel)]="car.id" disabled type="text" class="form-control" placeholder="ID" aria-label="ID">
        </p> 
        <p>
          <label for="price">Make</label>
          <input [(ngModel)]="car.make" type="text" class="form-control" placeholder="Make" aria-label="price"
            aria-describedby="basic-addon1">
        </p>
        <p>
          <label for="price">Model</label>
          <input [(ngModel)]="car.model" type="text" class="form-control" placeholder="Model" aria-label="price"
            aria-describedby="basic-addon1">
        </p> 
        <p>
          <label for="description">Description:</label>
          <input [(ngModel)]="car.description" type="text" class="form-control" placeholder="Description" aria-label="desc"
            aria-describedby="basic-addon1">
        </p>
        <p>
          <label for="price">Price</label>
          <input [(ngModel)]="car.price" type="text" class="form-control" placeholder="Price" aria-label="price"
            aria-describedby="basic-addon1">
        </p>
        <p>
          <label for="quantity">Quantity</label>
          <input type="text" class="form-control" placeholder="Quantity" aria-label="qty"
            aria-describedby="basic-addon1">
        </p>
      </mat-card-content>
      <mat-card-actions>
        <div class="btn-group pull-right">
          <button mat-raised-button color="primary" class="pull-right" (click)="updateCar(car)">Save</button>
          <button mat-raised-button color="warn" (click)='removeCar(car, i)' >Delete</button>
        </div>
      </mat-card-actions>
    </mat-card>
    <mat-card class="example-card" *ngFor="let clothing of clothings; let i = index">
      <mat-card-content>
        <img class="cover" [src]="clothing.clothing_url" alt="bike">
        <p>
          <label for="id">Image Url:</label>
          <input [(ngModel)]="clothing.clothing_url" type="text" class="form-control" placeholder="Image" aria-label="Image">
        </p>
        <p>
          <label for="id">ID:</label>
          <input [(ngModel)]="clothing.id" disabled type="text" class="form-control" placeholder="ID" aria-label="ID">
        </p> 
        <p>
          <label for="price">Clothing Type</label>
          <input [(ngModel)]="clothing.clothing_type" type="text" class="form-control" placeholder="Make" aria-label="price"
            aria-describedby="basic-addon1">
        </p>
        <p>
          <label for="price">Clothing Color</label>
          <input [(ngModel)]="clothing.color" type="text" class="form-control" placeholder="Model" aria-label="price"
            aria-describedby="basic-addon1">
        </p> 
        <p>
          <label for="description">Name:</label>
          <input [(ngModel)]="clothing.clothing_name" type="text" class="form-control" placeholder="Description" aria-label="desc"
            aria-describedby="basic-addon1">
        </p>
        <p>
          <label for="price">Price</label>
          <input [(ngModel)]="clothing.price" type="text" class="form-control" placeholder="Price" aria-label="price"
            aria-describedby="basic-addon1">
        </p>
        <p>
          <label for="quantity">Quantity</label>
          <input [(ngModel)]="clothing.quantity" type="text" class="form-control" placeholder="Price" aria-label="price"
            aria-describedby="basic-addon1">
        </p>
        <p>
          <label for="Brand">Brand</label>
          <input [(ngModel)]="clothing.brand" type="text" class="form-control" placeholder="Price" aria-label="price"
            aria-describedby="basic-addon1">
        </p>
      </mat-card-content>
      <mat-card-actions>
        <div class="btn-group pull-right">
          <button mat-raised-button color="primary" class="pull-right" (click)="updateClothing(clothing)">Save</button>
          <button mat-raised-button color="warn" (click)='removeClothing(clothing, i)' >Delete</button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<router-outlet></router-outlet>
